[Unit]
Description=Ubituiti mFi Controller
After=docker.service

[Service]
TimeoutStartSec=0
RemainAfterExit=true
ExecStartPre=-/usr/bin/docker kill mfi-controller
ExecStartPre=-/usr/bin/docker rm -f mfi-controller
ExecStartPre=/usr/bin/docker pull darco/mfi-controller
ExecStartPre=-/usr/bin/docker create --name="mfi-controller-backing" darco/mfi-controller
ExecStart=/usr/bin/docker run \
	-d \
	--name mfi-controller \
	-p 6443:443/tcp \
	-p 6080:80/tcp \
	-p 6081:6081/tcp \
	-p 6880:6880/tcp \
	--volumes-from=mfi-controller-backing \
	darco/mfi-controller
ExecStop=/usr/bin/docker stop -t 2 mfi-controller
Restart=always

[Install]
WantedBy=multi-user.target

